body {
    background-color: #ffd684;
}

h1 {
    padding-top: 1em;
    color: #EA5463;
}

.row {
    font-size: 1.75rem;
    font-weight: 300;
}

#form-box {
    box-sizing: border-box;
    margin: 2rem 0;
    background: #84adff;
    padding: 2rem;
    border-radius: 10px;
}


