<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dinner Generator</title>
</head>
<body>
    <div>
        <h4>Please enter your calorie limit. Enter any negative number if
            you don't have one</h4>
        <h4>Choose protein type from the following menu. Enter any negative
            number if you don't have a preference</h4>
        <p>1: Beef 2: Pork 3: Chicken 4: Seafood</p>
    </div>
    <div>
        <form method="post" action=".">
            <p>Calorie Limit: <input name="limit" /></p>
            <p>Protein Number:<input name="protein" /></p>
            <p><input type="submit" value="Generate Dinner" /></p>
        </form>
    </div>
</body>
</html>